//import main styles
@import 'main';



/**************************************************************
----- page specific styling for programs.inc.php module -----
**************************************************************/


/**** styling for the interactive options ****/
$hover-width: 70%;
$other-width: 30%;
$container-bg-color: #333;
$left-bg-color: rgba(223, 39, 39, 0.3);
$left-button-hover-color: rgba(161, 11, 11, 0.3);
$middle-bg-color: rgba(23, 239, 39, 0.3);
$middle-button-hover-color: rgba(161, 211, 11, 0.3);
$right-bg-color: rgba(43, 43, 43, 0.8);
$right-button-hover-color: rgba(92, 92, 92, 0.4);
$speed: 1000ms;

.inner-wrapper {
  width: 100%;

}


.options-wrapper {
  position: relative;
  width: 100%;
  height: 60vh;
  background: $container-bg-color;
  margin-bottom: 5rem;


  h3 {
    font-size: 4rem;
    color: $light-font;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    white-space: nowrap;
  }

  .btn {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2.5rem;
    padding-top: 0.5rem;
    width: 15rem;
    text-align: center;
    color: $light-font;
    border: $light-font solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateX(-50%);
  }

  .split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }

  .split.left {
    left:0;
    background: url('../../images/physique_male.jpg') center center no-repeat;
    background-size: cover;

    &:before {
      position:absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: $left-bg-color;
    }

    .btn:hover {
      background-color: $left-button-hover-color;
      border-color: $left-button-hover-color;
    }
  }





  .split.right {
    right:0;
    background: url('../../images/physique_female.jpeg') center center no-repeat;
    background-size: cover;

    &:before {
      position:absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: $right-bg-color;
    }

    .btn:hover {
      background-color: $right-button-hover-color;
      border-color: $right-button-hover-color;
    }
  }

  .split.left, .split.right, .split.middle,
  .split.right:before, .split.middle:before, .split.left:before {
    transition: $speed all ease-in-out;
  }


}

.hover-left .left {
  width: $hover-width;
}

.hover-left .right {
  width: $other-width;
}

.hover-left .right:before {
  z-index: 2;
}

.hover-right .right {
  width: $hover-width;
}

.hover-right .left {
  width: $other-width;
}

.hover-right .left:before {
  z-index: 2;
}


/***** END OF styling for interactive options *****/



/***** styling for the info section of hock_train page *****/
.info {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:  4em 5em;
  // background: #eeeeee;
  // border: 1px solid black;
  // overflow: hidden;
  justify-items: stretch;
  align-items: center;
  padding-top: 3em;



  h2 {
    // margin-top: 20px;
    margin-bottom: 30px;
  }

  .intro-box {
  }
  .intro-img img {
    width: 100%;
    border-radius: 30px;
  }
  .content-box {
  }
  .content-img img {
    width: 100%;
    border-radius: 30px;
  }


}

.training-quote {
  margin-top: 4em;
  width: 100%;
  background: url('../../images/quote-bg.jpg') center center no-repeat;
  background-size: cover;
  height: 45vh;
  text-align: center;
  margin-bottom: 0;
  opacity: 0.70;


  p {
    font-size: 4em;
    color: #fff;
    display: inline-block;
    margin-top: 10%;

  }
}

footer {
  margin-top: 0;
}

/***** END OF styling for the programs page *****/









/* media queries */
@media (max-width: 800px) {
  .options-wrapper {
    h3 {
      font-size: 2rem;
    }
    .btn {
      width: 12rem;
    }
  }

  .info {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    font-size: 1em;

    h2 {
      font-size: 2em;
    }

    .content-img {
      order: 4;
    }
  }

}

@media (max-height: 700px) {
  .options-wrapper {
    .btn {
      top: 70%;
    }
  }



}

@media (max-width: 500px) {
  .options-wrapper {
    position: relative;
    width: 100%;
    height: 500px;

    .btn {
      top: 55%;
    }

    .split {
      position: relative;
      display: block;
      width: 100%;
      height: 50%;
    }

    }

  .info {
    grid-template-columns: 1fr;
    grid-gap: 2em 0;
    margin: auto;
  }

  .training-quote p {
    font-size: 3em;
  }

}
