//import variables styles
@import 'helpers/variables';



/**************************************************************
----- page specific styling for view_prod.inc.php module -----
**************************************************************/
.view_prod .inner-wrapper {
  width: 100%;
  margin: 0 auto;
  background: $secondary-bg;

  .product {

    .product_header {
      display: grid;
      grid-template-columns: 2fr 1fr;
      background: #fff;
      // height: 75vh;
      // background: rgba(0,0,0,0);

      h3 {
        display: inline-block;
        width: 100%;
        text-align: left;
        margin-top: 20%;
        font-size: 6em;
        color: #888;
        margin-left: -.5em;
        margin-bottom: 1em;
        margin-right: .5em;
      }

      .program-img {
        box-shadow: inset -300px 0px 200px 40px #fff;
        background: top center cover no-repeat;
      }

    }

    .product_info {
      background: $secondary-bg;
      font-size: 1.2em;
      width: 100%;
      margin: 0 auto;
      padding-top: 6em;

      p {
        padding-bottom: 2em;
        width: 70%;
        margin: 0 auto;
        line-height: 3em;
      }

      ul {
        width: 100%;
        margin: 0 auto 6em auto;
        border: 1px solid black;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 3em 4em;
        background: gray;
        color: white;
        padding: 3em 4em;


        li {
          font-weight: bold;
          list-style: none;
          // font-size: 1.5em;
          padding-left: 4em;
          padding-bottom: 2em;
          padding-top: .5em;
        }

        li:nth-child(odd) {
          background: url('../../images/Sports-Weightlift-icon.png') top left no-repeat;
        }
        li:nth-child(even) {
          // background: url('../../images/weightlifting-icon.png') top left no-repeat;
          background: url('../../images/Sports-Torso-icon.png') top left no-repeat;
        }
      }

    }


    .buying_info {
      margin: 4em auto 0 auto;
      background: white;
      width: 100%;
      padding: 6em 0 4em 0;

      form.buy_options_form {
        width: 70%;
        margin: 0 auto;

        fieldset {
          display: grid;
          width: 100%;
          grid-template:
            "program option"
            "terms option"
            "buy buy";
          grid-template-columns: 1fr 2fr;
          grid-gap: 2em;

          div {
            box-shadow: $shadow;
          }

          .form-group1 {
            grid-area: program;
            text-align: center;

            select {
              width: 100%;
              height: 100%;
              font-size: 1.5em;
            }

          }

          .form-group2 {
            grid-area: terms;
            padding: 2em 1em;
            font-size: 1.5em;

            p {
              margin-bottom: .5em;
            }
            a {
              display: inline-block;
              font-size: .8em;
              margin-top: 1em;
              text-decoration: none;
              color: $main-font-color;
              font-style: italic;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          .form-group3 {
            grid-area: option;
            text-align: center;
            padding: 2em 1em 0 1em;
            font-size: 1.5em;

            p:first-of-type {
              margin-bottom: 1em;
            }

            input:last-of-type {
              margin-left: 2em;
            }

            .nutrition-program {
              margin: 2em auto;
              display: grid;
              grid-template-columns: 1fr;
              width: 90%;
              box-shadow: $shadow;
              background: #808080;
              border: 1px solid #808080;


              .pn-img {
                img {
                  width: 100%;
                  height: 100%;
                  border-bottom: 1px solid #808080;
                }
              }
              .pn-short-des {
                text-align: center;
                padding-top: 1em;
                color: #fff;
                font-size: .75em;

                p {
                  line-height: 1.5em;
                  padding: 1em;
                }
                a {
                  margin-top: 1em;
                  margin-bottom: 1em;
                  display: inline-block;
                  box-shadow: $shadow;
                  padding: 1em 4em;
                  border-radius: 30px;
                  color: #333;
                  background: #fff;
                  text-decoration: none;
                  font-variant: small-caps;
                  text-align: center;

                  &:hover {
                    color: #fff;
                    background: #333;
                  }
                }
              }

            }


          }

          button {
            font-size: 2em;
            width: 50%;
            grid-area: buy;
            margin: 0 auto;
            margin-top: 1em;
            padding: 1em;
            background: green;
            color: white;
            border: none;
            border-radius: 5px;

          }
        }

      }
    }


  }




}


footer {
  margin-top: 0;
}

/***** END OF styling for the view product page *****/









/* media queries */
@media (max-width: 1000px) {
  .view_prod .inner-wrapper {
    .product {
      .buying_info {
        form.buy_options_form {
          fieldset {
            .form-group1 select, .form-group2, .form-group3 {
              font-size: 1em;
            }
            button {
              font-size: 1.5em;
            }
          }
        }
      }
    }
  }



}

@media (max-width: 750px) {
  .view_prod .inner-wrapper {
    .product {
      .product_header {
        grid-template-columns: 1fr;
        h3 {
          font-size: 4em;
          text-align: center;
          margin: 1em auto;
        }
        .program-img {
          height: 50vh;
          box-shadow: inset 0px 0px 200px 40px #fff;
        }
      }
      .product_info {
        font-size: 1em;
      }
      .buying_info {
        form.buy_options_form {
          fieldset {
              grid-template:
                "program program"
                "option option"
                "terms terms"
                "buy buy";
            }
          }
        }
      }
    }


}

@media (max-width: 550px) {
  .view_prod .inner-wrapper {
    .product {
      .product_header {
        h3 {
          font-size: 3em;
        }
      }
      .product_info {
        p {
          width: 100%;
          padding-left: 1em;
          padding-right: 1em;
        }
        ul {
          grid-template-columns: 1fr;
          grid-gap: 2em 2em;
          padding: 2em;
          li {
            padding-left: 5em;
          }
        }
      }
      .buying_info {
        form.buy_options_form {
          width: 100%;
          fieldset {
            .form-group3 {
              .nutrition-program {
                width: 100%;
                .pn-short-des {
                  font-size: 1em;
                }
              }
            }
          }
        }
      }
    }
  }

}
