/* -------------------------
***** SASS Variables *****
------------------------- */


//general variables
$light-font: #fff;
$medium-font: gray;
$dark-font: black;

$main-font-color: #333;
$main-font: Arial, Helvetica, sans-serif;
$main-bg: #ccc;
$secondary-bg: #eee;

$shadow: 0 1px 5px rgba(104,104,104,0.8);









//header variables
$logo-bg: #fff;
$nav-link-bg: #ddd;
$nav-link-color: #333;




//footer variables
$footer-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$footer-bg: #333;
